:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --titel-text-color: #212121;
  --accent-color: #2196f3;
  --second-bg-color: #f5f4fa;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --button-main-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --button-filers-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --time-duration: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@keyframes shake-logo {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(-30px);
  }
}

.button-main {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: var(--button-main-shadow);
  padding: 10px 32px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  list-style: none;
}

.filter-list .item:not(:last-child) {
  margin-right: 8px;
}

.filter-list .filters {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  color: var(--titel-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  transition: background-color var(--time-duration) var(--time-function), color var(--time-duration) var(--time-function);
}

.filter-list .filters:hover, .filter-list .filters:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.web {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.list,
.work-list,
.team-list,
.feature-list,
.footer .address-list,
.filter-list,
.works-list {
  font-style: normal;
  list-style: none;
  text-decoration: none;
}

.text {
  color: var(--primary-text-color);
}

.page-header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.link {
  transition: var(--time-duration) var(--time-function);
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item {
  position: relative;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--titel-text-color);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  position: absolute;
  content: '';
  display: flex;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background-color: currentColor;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.auth-nav .link:hover, .auth-nav .link:focus {
  color: var(--accent-color);
}

.icon-nav {
  fill: currentColor;
  margin-right: 10px;
}

.header-logo:hover,
.footer-logo:hover {
  animation: shake-logo 400ms var(--time-function) infinite;
}

.page-header .logo {
  color: var(--titel-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer .logo {
  color: var(--primary-white-color);
}

.page-header .logo,
.footer .logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.section {
  background-color: var(--primary-white-color);
}

.section-titel {
  color: var(--titel-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section-team {
  background-color: var(--second-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.works-list .example {
  text-decoration: none;
}

.works-list .text {
  font-size: 16px;
  line-height: 1.87;
}

.works-list .titel {
  color: var(--titel-text-color);
}

.example-overlay {
  position: relative;
  overflow: hidden;
}

.example-top-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--time-duration) var(--time-function);
}

.example:hover .example-top-text,
.example:focus .example-top-text {
  transform: translateY(0%);
}

.example:hover,
.example:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.cards:nth-child(3n) {
  margin-right: 0;
}

.cards:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cards-info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.cards-info .titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  color: var(--primary-text-color);
}

.footer .link {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer .link:hover, .footer .link:focus {
  color: var(--accent-color);
}

.footer .comp-address {
  color: var(--primary-white-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.72;
  transition: var(--time-duration) var(--time-function);
}

.footer .comp-address:hover, .footer .comp-address:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.main-footer {
  display: flex;
  align-items: baseline;
}

.right-footer {
  width: 206px;
  margin-left: 70px;
}

.right-footer .titel {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-form {
  position: relative;
  width: 570px;
  margin-left: 93px;
}

.footer-form .titel {
  margin-bottom: 20px;
  display: block;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-form-send {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-left: 12px;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form-send .send-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  margin-left: 29px;
}

.email-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}

.email-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.email-input:focus-within {
  outline: none;
}

.icon-send {
  display: block;
  align-items: center;
  margin-left: 10px;
}

.socials-address {
  display: flex;
}

.socials-address.titel {
  margin-bottom: 20px;
  display: block;
}

.socials-address .item {
  width: 44px;
  height: 44px;
}

.socials-address .item:not(:last-child) {
  margin-right: 10px;
}

.socials-address.link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
}

.socials-address.link:hover, .socials-address.link:focus {
  background-color: var(--accent-color);
}

.footer-contacts-titel {
  margin-bottom: 20px;
}
/*# sourceMappingURL=portfolio.css.map */