.team-list {
  display: flex;
  justify-content: space-between;
  & .item:not(:last-child) {
    margin-right: 30px;
  }
  & .titel {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--titel-text-color);
  }
  & .text {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
  }
}

.card {
  background-color: var(--primary-white-color);
  text-align: center;
  box-shadow: var(--card-shadow);
  border-radius: 4px;
}

.card-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.filter-list {
  margin-bottom: 50px;
  list-style: none;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.socials-link {
  width: 100%;
  height: 100%;
  @include displayFlex();
  border-radius: 50%;
  background-color: var(--primary-white-color);
  fill: #afb1b8;
  transition: background-color var(--time-duration) var(--time-function),
    fill var(--time-duration) var(--time-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  &:hover .socials-icon,
  &:focus .socials-icon {
    fill: var(--primary-white-color);
  }
}

.socials-icon {
  transition: fill var(--time-duration) var(--time-function);
}
