.section {
  background-color: var(--primary-white-color);
}
.section-team {
  background-color: var(--second-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-titel {
  margin-bottom: 50px;
}

.section-titel {
  color: var(--titel-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
