.filter-list {
  display: flex;
  justify-content: center;
  & .item:not(:last-child) {
    margin-right: 8px;
  }
  & .filters {
    background-color: #f5f4fa;
    color: var(--titel-text-color);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--primary-white-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
      cursor: pointer;
    }
  }
}

// .filter-list .item:not(:last-child) {
//   margin-right: 8px;
// }

// .filter-list .filters {
//   background-color: #f5f4fa;
//   color: var(--titel-text-color);
// }

// .filter-list .filters:hover,
// .filter-list .filters:focus {
//   background-color: var(--accent-color);
//   color: var(--primary-white-color);
//   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//     0px 2px 2px rgba(0, 0, 0, 0.12);
//   cursor: pointer;
// }
